
<main class="main">
  <div class="content">
    <h1>Welcome to, {{ title }}</h1>
    <button
      mat-raised-button
      (click)="openUserRegistrationDialog()"
      style="margin-right: 10px;"
      color="accent"
    >
      Sign Up
    </button>
    
    <button
      mat-raised-button
      color="primary"
      (click)="openLoginDialog()"
    >
      Login
    </button>
    
    <button
      mat-raised-button
      color="primary"
      (click)="openMoviesDialog()"
    >
      All Movies
    </button>
  </div>
</main>


<router-outlet />
